span.titre {
    color: #f00;
   margin: auto;
   width: 150%;

}
body {
color:black;
 background-image:  url("https://www.itl.cat/pngfile/big/14-146387_beach-blue-sky-wallpaper-beautiful-beach-sky.jpg");
}

header
{
    text-align: center;
    width:100%;
    margin-top: -5px;
    margin-left: 0px;
    padding-bottom: 5px;
    height: 36px;

    
}

p{
 text-align: center;
font-family:Stencil Std, fantasy;
}

#weather{
  text-align: center;
  border: 10px ridge #696969;
    background-color: white;
    padding: .5rem;
    display: flex;
    flex-direction: column;
  
}

#interne{
  text-align: center;
  border: 10px ridge #696969;
    background-color: white;
    padding: .5rem;
    display: flex;
    flex-direction: column;
  
}
h1{
 color:black;
 font-family:Stencil Std, fantasy;
}

h2{
  
  text-align: center;

}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
}
